Repository aureliojargas/pydantic-gerrit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

# Local hooks only, everything is installed in the local venv.

# Do not run any tool on data files, their contents shouldn't change
exclude: ^tests/responses/

repos:
  - repo: local
    hooks:
      # The next 3 checkers come from the pre-commit-hooks package
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        types: [yaml]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
        types: [text]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

Move models to `latest` version
  src/pydantic_gerrit/latest/__init__.py
  src/pydantic_gerrit/latest/accounts.py
  src/pydantic_gerrit/latest/groups.py
Due: ruff-check, ruff-format, mypy

Fix `get_group()` when there's no group
  tests/test_groups.py
Due: ruff-check, ruff-format, mypy

First milestone reached
  roadmap.md
Due: none

Makefile: Support Gerrit 3.11
  Makefile
Due: none

Add dev docs
  dev-notes.md
  roadmap.md
Due: none

Stop using docker compose
  dev-notes.md
  docker-compose.yaml
Due: check-yaml

Move models to `latest` version
  src/pydantic_gerrit/latest/__init__.py
  src/pydantic_gerrit/latest/accounts.py
  src/pydantic_gerrit/latest/groups.py
  src/pydantic_gerrit/v3_12/accounts.py
  src/pydantic_gerrit/v3_12/groups.py
Due: ruff-check, ruff-format, mypy

Small improvements to docker-compose.yaml
  docker-compose.yaml
Due: check-yaml

Add notes about uv
  dev-notes.md
Due: none

pre-commit: Also set pre-push as default hook
  .pre-commit-config.yaml
Due: check-yaml

Add safe default Makefile target
  Makefile
Due: none

Add devcontainer config files
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Due: none

Run markdownlint in all .md files
  .devcontainer/README.md
Due: none

dev-notes: Add new URLs
  dev-notes.md
Due: none

Move test docs to `tests/README.md`
  dev-notes.md
  tests/README.md
Due: none

Adopt uv build backend
  pyproject.toml
Due: none

Pin devcontainer image to bookworm
  .devcontainer/Dockerfile
Due: none

Add `TagInfo` and the models it depends on: `GitPersonInfo`, `WebLinkInfo`
  src/pydantic_gerrit/latest/changes.py
  src/pydantic_gerrit/latest/projects.py
Due: ruff-check, ruff-format, mypy

Ensure consistent formatting in `Field()` arguments
  src/pydantic_gerrit/latest/accounts.py
  src/pydantic_gerrit/latest/projects.py
Due: ruff-check, ruff-format, mypy

Sync entities and fields description to the official docs
  src/pydantic_gerrit/latest/accounts.py
  src/pydantic_gerrit/latest/changes.py
  src/pydantic_gerrit/latest/groups.py
  src/pydantic_gerrit/latest/projects.py
Due: ruff-check, ruff-format, mypy

Fix typo in AvatarInfo description
  src/pydantic_gerrit/latest/accounts.py
Due: ruff-check, ruff-format, mypy

Add `BranchInfo`
  src/pydantic_gerrit/latest/projects.py
Due: ruff-check, ruff-format, mypy

wip DiffInfo
  src/pydantic_gerrit/latest/changes.py
Due: ruff-check, ruff-format, mypy

Add `DiffInfo` and the models it depends on
  src/pydantic_gerrit/latest/changes.py
Due: ruff-check, ruff-format, mypy

dev-notes: Add new upstream contributions
  dev-notes.md
Due: none

Isolate literals
  src/pydantic_gerrit/latest/changes.py
  src/pydantic_gerrit/latest/groups.py
Due: ruff-check, ruff-format, mypy

Add `FileInfo`
  src/pydantic_gerrit/latest/changes.py
Due: ruff-check, ruff-format, mypy

WIP: Generate TypedDicts from Pydantic Models
  dev-notes.md
  generate_typeddicts.py
Due: ruff-check, ruff-format, mypy

copilot
  copilot.md
Due: none

Use datamodel-code-generator to generate TypedDicts from JSON schemas
  foo.py
  generate_typeddicts.py
  pydantic_gerrit.latest.changes.json
Due: ruff-check, ruff-format, mypy

New tactic using schemas
  generated/dataclass/latest
  generated/dataclass/v3_12/__init__.py
  generated/dataclass/v3_12/accounts.py
  generated/pydantic/latest
  generated/pydantic/v3_12/__init__.py
  generated/pydantic/v3_12/accounts.py
  generated/typeddict/latest
  generated/typeddict/v3_12/__init__.py
  generated/typeddict/v3_12/accounts.py
  pyproject.toml
  schemas/v3_12/accounts.json
  scripts/__init__.py
  scripts/generate.py
  src/gerrit_schemas/__init__.py
  uv.lock
Due: ruff-check, ruff-format, mypy

generated all the schemas
  generated/dataclass/v3_12/accounts.py
  generated/pydantic/v3_12/access.py
  generated/pydantic/v3_12/accounts.py
  generated/typeddict/v3_12/accounts.py
  schemas/v3_12/access.json
  schemas/v3_12/accounts.json
  schemas/v3_12/changes.json
  schemas/v3_12/config.json
  schemas/v3_12/groups.json
  schemas/v3_12/projects.json
Due: ruff-check, ruff-format, mypy

add references
  schemas/v3_12/changes.json
  schemas/v3_12/commits.json
  schemas/v3_12/files.json
  schemas/v3_12/git-person.json
  schemas/v3_12/groups.json
  schemas/v3_12/projects.json
  schemas/v3_12/revisions.json
Due: none

add references 2
  schemas/v3_12/branches.json
  schemas/v3_12/commits.json
  schemas/v3_12/config.json
  schemas/v3_12/files.json
  schemas/v3_12/git-person.json
  schemas/v3_12/groups.json
  schemas/v3_12/labels.json
  schemas/v3_12/projects.json
  schemas/v3_12/revisions.json
  schemas/v3_12/web-links.json
Due: none

add references 3
  schemas/v3_12/access.json
  schemas/v3_12/changes.json
  schemas/v3_12/projects.json
  schemas/v3_12/revisions.json
Due: none

prompts
  prompts.md
Due: none

Fix syntax in changes.json
  schemas/v3_12/changes.json
Due: none

Fix generate.py to run from any dir
  scripts/generate.py
Due: ruff-check, ruff-format, mypy

Generate all files
  generated/dataclass/v3_12/access.py
  generated/dataclass/v3_12/accounts.py
  generated/dataclass/v3_12/branches.py
  generated/dataclass/v3_12/changes.py
  generated/dataclass/v3_12/commits.py
  generated/dataclass/v3_12/config.py
  generated/dataclass/v3_12/files.py
  generated/dataclass/v3_12/git-person.py
  generated/dataclass/v3_12/groups.py
  generated/dataclass/v3_12/labels.py
  generated/dataclass/v3_12/projects.py
  generated/dataclass/v3_12/revisions.py
  generated/dataclass/v3_12/web-links.py
  generated/pydantic/v3_12/access.py
  generated/pydantic/v3_12/accounts.py
  generated/pydantic/v3_12/branches.py
  generated/pydantic/v3_12/changes.py
  generated/pydantic/v3_12/commits.py
  generated/pydantic/v3_12/config.py
  generated/pydantic/v3_12/files.py
  generated/pydantic/v3_12/git-person.py
  generated/pydantic/v3_12/groups.py
  generated/pydantic/v3_12/labels.py
  generated/pydantic/v3_12/projects.py
  generated/pydantic/v3_12/revisions.py
  generated/pydantic/v3_12/web-links.py
  generated/typeddict/v3_12/access.py
  generated/typeddict/v3_12/accounts.py
  generated/typeddict/v3_12/branches.py
  generated/typeddict/v3_12/changes.py
  generated/typeddict/v3_12/commits.py
  generated/typeddict/v3_12/config.py
  generated/typeddict/v3_12/files.py
  generated/typeddict/v3_12/git-person.py
  generated/typeddict/v3_12/groups.py
  generated/typeddict/v3_12/labels.py
  generated/typeddict/v3_12/projects.py
  generated/typeddict/v3_12/revisions.py
  generated/typeddict/v3_12/web-links.py
Due: ruff-check, ruff-format, mypy
